@import '../../styles/base';

.User {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &__initials {
        $diameter: 25px;

        background-color: $color-lavender;
        border-radius: 50%;
        color: $color-slate-0;
        height: $diameter;
        margin-right: 8px;
        overflow: hidden;
        padding-top: 4px;
        text-align: center;
        width: $diameter;
    }
}