@import '../../styles/base';

body {
    color: $color-slate-1;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: 5vmin;
    
    * {
        box-sizing: border-box;
    }
}